body{
    
    background-color: grey;
    height: 100%;
}

#container{
    align-content: center;
}
h1,p{
    color: lightcoral;
}
button{
    border: 3px solid lightcoral;
    margin-left: .5em;
    margin-bottom: 1em;
    border-radius: .5em;
}
